@import url("./__heart/image-card__heart.css");
@import url("./__image/image-card__image.css");
@import url("./__text/image-card__text.css");
@import url("./__title/image-card__title.css");
@import url("./__heart/_liked/image-card__heart_liked.css");

.image-card {
    width: 282px;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 911px) {

    .image-card {
        margin: auto;
    }
}