.profile__details {
    display: flex;
}

@media only screen and (max-width: 840px) {
    .profile__details {
        width: 78%;
    }
}

@media only screen and (max-width: 704px) {
    .profile__details {
        width: 100%;
        flex-direction: column;
        align-items: center;
        margin: auto;
    }
}