@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;900&display=swap');

.page {
    max-width: 1280px;
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
}

.header {
    max-width: 880px;
    width: 100%;
    margin: 45px auto 36px auto;
    height: 74px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}


.main {
    max-width: 880px;
    margin: 0 auto;
    position: relative;
}

.profile {
    display: flex;
    justify-content: space-between;
}

.profile__box-left {
    display: flex;
}

.profile__image {
    width: 120px;
    border-radius: 50%; 
}

.profile__info{
    margin: auto 0 auto 30px;
}

.profile__line-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.profile__title {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0;
}

.profile__button-edit {
    width: 24px;
    height: 24px;
    margin-left: 18px;
    margin-top: 15.5px;
    background-color: transparent;
    border: 1px solid white;
    box-shadow: none;
    transition: .4s ease;
}

.profile__button-edit:hover {
    opacity: .6;
    cursor: pointer;
}

.profile__symbol-edit {
    width: 10px;
    height: 10px;
}


.profile__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    margin: 0;
}
.profile__button-add {
    width: 150px;
    padding: 14px 64px;
    height: 100%;
    background-color: transparent;
    border: 2px solid white;
    box-shadow: none;
    margin-top: auto;
    margin-bottom: auto;
    transition: .4s ease;
}

.profile__button-add:hover {
    opacity: .6;
    cursor: pointer;
}





.edit-profile {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.edit-profile__container {
    width: 530px;
    margin: auto;
    margin-top: 125px;
    display: flex;
    flex-direction: column;
}


.edit-profile__close-icon {
    width: 60px;
    height: 60px;
    margin-left: auto;
    transition: .4s ease;
    z-index: 5;
    position: relative;
    top: 10px;
}

.edit-profile__close-icon:hover {
    opacity: .6;
    cursor: pointer;
}

.edit-box {
    position: relative;
    top: 0;
    width: 430px;
    height: 330px;
    background-color: white;
    color: black;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}

.edit-box__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
    margin-top: 34px;
    margin-left: 36px;
    text-align: left;
}

.edit-box__inputs {
    margin-top: 54px;
    margin-bottom: 48px;
}

.edit-box__input {
    width: 83.25%;
    height: 27.26px;
    margin-bottom: 29.74px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.edit-box__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: black;
}

.edit-box__input:last-child {
    margin-bottom: 0;
}

.edit-box__button {
    width: 83.25%;
    height: 50.15px;
    background-color: black;
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    border-radius: 2px;
    border: none;
    transition: .4s ease;
}

.edit-box__button:hover {
    opacity: .6;
    cursor: pointer;
}



.image-grid {
    margin-top: 50px;
    margin-bottom: 68px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 17px;
}

.image-grid__card {
    width: 282px;
    display: flex;
    flex-direction: column;
}

.image-grid__image {
    object-fit: contain;
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0;
}

.image-grid__text {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-top: 0;
}

.image-grid__title {
    color: black;
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 21px;
    margin-right: auto;
}

.image-grid__button-like {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: auto 18px auto 0;
    transition: .4s ease;
}

.image-grid__button-like:hover {
    opacity: .5;
    cursor: pointer;
}

/* .image-grid__button-like:active .image-grid__heart {
    fill: black;
} */

.footer {
    max-width: 880px;
    margin: 0 auto;
}

.footer__copyright {
    font-weight: 400;
    font-size: 18px;
    line-height: 21.78px;
    color: #545454;
}



@media only screen and (max-width: 911px) {
    .image-grid {
        margin-right: auto;
        margin-left: auto;
        max-width: 645px;
        grid-template-columns: 1fr 1fr;
    }

    .image-grid__card {
        margin: auto;
    }

    .profile {
        width: 85%;
        margin: auto;
    }

    .profile__line-top {
        width: 50%;
    }

    .profile__button-edit {
        margin-left: 0;
    }
  
}

@media only screen and (max-width: 704px) {
    .profile {
        flex-direction: column;
    }

    .profile__box-left {
        width: 100%;
        flex-direction: column;
        margin: auto;
    }

    .profile__image {
        margin: auto;
    }

    .profile__info {
        width: 100%;
        margin: auto;
        margin-top: 26.25px;
        margin-bottom: 36px;
    }

    .profile__line-top {
        width: 90%;
        margin: auto;
        justify-content: center;
        margin-bottom: 14px;
    }

    .profile__title {
        text-align: center;
        justify-self: center;
    }

    .profile__button-edit {
        margin-left: 10px;
        margin-top: 14px;
        padding: 0;
    }

    .profile__symbol-edit {
        width: 7.5px;
        height: 7.5px;
        margin: 1px;
    }

    .profile__subtitle {
        text-align: center;
    }

    .profile__button-add {
        width: 282px;
        margin: auto;
    }

}


@media only screen and (max-width: 660px) {
    .image-grid {
        grid-template-columns: 1fr;
    }

}


@media only screen and (max-width: 550px) {
    
    .profile__title {
        font-size: 30px;
        line-height: 1;
    }

    .profile__button-edit {
        margin-top: auto;
        margin-bottom: auto;
    }

    .profile__subtitle {
        font-size: 16px;
        line-height: 19px;
    }

    .edit-profile__container {
        margin-top: 97px;
        width: 282px;
    }
    
    .edit-box {
        width: 100%;
        height: 322px;
    }

    .edit-box__title {
        margin-top: 25px;
        margin-left: 22px;
        font-size: 18px;
        line-height: 21.78px;
    }

    .edit-box__button {
        font-size: 14px;
        line-height: 16.94px;
    }

    .edit-profile__close-icon {
        width: 35px;
        height: 35px;
        top: 0;
    }
}

@media only screen and (max-width: 408px) {

    .profile__title {
        width: 100%;
    }
}



@media only screen and (max-width: 320px) {
    .header {
        max-width: 320px;
        width: 100%;
        height: 56px;
        margin: 28px auto 42px auto;
    }

    .logo {
        width: 126px;
        height: 24px;
    }
    
    .main {
        max-width: 282px;
    }

    .profile {
        width: 100%;
    }

    .profile__title {
        font-size: 22px;
        line-height: 26.63px;
    }

    .profile__subtitle {
        font-size: 14px;
        line-height: 16.94px;
    }

    .profile__button-edit {
        width: 18px;
        height: 18px;
        margin-left: 0;
    }

    .profile__button-add {
        width: 100%;
    }

    .image-grid {
        margin: auto;
        grid-template-columns: 1fr;
        margin: 36px auto 50px auto;
    }

    .footer {
        max-width: 282px;
    }

    .footer__copyright {
        font-size: 14px;
        line-height: 16.94px;
    }
    
}
