
.image-grid {
    margin-top: 50px;
    margin-bottom: 68px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 17px;
}

@media only screen and (max-width: 911px) {
    .image-grid {
        margin-right: auto;
        margin-left: auto;
        max-width: 645px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 660px) {
    .image-grid {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 320px) {
    .image-grid {
        margin: 36px auto 50px auto;
    }
}