.edit-box__input {
    width: 83.25%;
    height: 27.26px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.edit-box__input::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: black;
}

.edit-box__input:last-child {
    margin-bottom: 0;
}

.edit-box__input:focus {
    outline: none;
}