.profile__symbol-edit {
    width: 10px;
    height: 10px;
}

@media only screen and (max-width: 704px) {
    .profile__symbol-edit {
        width: 7.5px;
        height: 7.5px;
        margin: 1px;
    }
}