.profile__line-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

@media only screen and (max-width: 911px) {
    .profile__line-top {
        width: 50%;
    }
}

@media only screen and (max-width: 704px) {
    .profile__line-top {
        width: 90%;
        margin: auto;
        justify-content: center;
        margin-bottom: 14px;
    }
}