@import url("./__title/edit-box__title.css");
@import url("./__inputs/edit-box__inputs.css");
@import url("./__input/edit-box__input.css");
@import url("./__button/edit-box__button.css");

.edit-box {
    position: relative;
    top: 0;
    width: 430px;
  
    background-color: white;
    color: black;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}

@media only screen and (max-width: 550px) {
    .edit-box {
        width: 100%;
    }
}