@import url("./__title/image-grid__title.css");
@import url("./__text/image-grid__text.css");
@import url("./__image/image-grid__image.css");
@import url("./__card/image-grid__card.css");
@import url("./__button-like/__button-like.css");



.image-grid {
    margin-top: 50px;
    margin-bottom: 68px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 17px;
}

@media only screen and (max-width: 911px) {
    .image-grid {
        margin-right: auto;
        margin-left: auto;
        max-width: 645px;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 660px) {
    .image-grid {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 320px) {
    .image-grid {
        grid-template-columns: 1fr;
        margin: 36px auto 50px auto;
    }
}