.profile__info{
    margin: auto 0 auto 30px;
}

@media only screen and (max-width: 704px) {
    .profile__info {
        width: 100%;
        margin: auto;
        margin-top: 26.25px;
        margin-bottom: 36px;
    }
}