.image-card__heart {
    width: 21px;
    height: 19px;
    background-image: url("../../../images/heart.svg");
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    transition: .4s ease;
}

.image-card__heart:hover {
    opacity: .5;
    cursor: pointer;
}

.image-card__heart:focus {
    outline: 0;
}

